<div class="wrapper">
    <h1>About CineMax</h1>
    <p>CineMax is a web prototype for viewing movies and booking tickets online.</p>
    <p>This application was developed as part of the Client Web Applications course at Singidunum University.</p>
    
    <p>Libraries used in the development:</p>
    <ul>
        <li>Angular 19</li>
        <li>Angular Material</li>
        <li>Axios HTTP Client</li>
        <li>SweetAlert2 for notifications</li>
    </ul>
    
    <h2>Features</h2>
    <ul>
        <li>Browse movies currently in theaters</li>
        <li>Search for movies by title, genre, or date</li>
        <li>View detailed movie information</li>
        <li>Book tickets with multiple seating options</li>
        <li>Manage your reservations</li>
        <li>Rate movies you've watched</li>
    </ul>
</div>
