<div *ngIf="movie">
    <mat-card class="order-card" appearance="outlined">
        <img mat-card-image [src]="utils.generateMoviePoster(movie.title)" [alt]="movie.title">
        <mat-card-content>
            <h3>Book Tickets - {{movie.title}}</h3>
            <mat-form-field class="full-width">
                <mat-label>Movie Title</mat-label>
                <input type="text" matInput [value]="movie.title" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Movie Code</mat-label>
                <input type="text" matInput [value]="movie.movieNumber" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Showtime:</mat-label>
                <input type="text" matInput [value]="utils.formatDate(movie.scheduledAt)" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Theater</mat-label>
                <mat-select [(ngModel)]="selectedTheater">
                    <mat-option *ngFor="let theater of theaters" [value]="theater.id">{{theater.name}}</mat-option>