<div *ngIf="error" class="container">
    <mat-card class="loading" appearance="outlined" color="red">
        <mat-card-content>
            <h1>Oops, an error occurred!</h1>
            <p style="color: red;">{{error}}</p>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="movies && movies.length > 0" class="container">
    <mat-card class="movie-card" appearance="outlined" *ngFor="let movie of movies">
        <img mat-card-image [src]="movie.posterUrl" 
             [alt]="movie.title" style="height: 450px; object-fit: cover;">
        <mat-card-content>
            <h1>{{movie.title}}</h1>
            <p>Showtime: {{utils.formatDate(movie.scheduledAt)}}</p>
            <p>Movie Code: {{movie.movieNumber}}</p>
            <p>Genre: {{movie.genre}}</p>
            <p *ngIf="movie.rating">User Rating: {{movie.rating}}/10</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/details/', movie.id]">
                <i class="fa-solid fa-arrow-up-right-from-square"></i> Movie Details
            </a>
            <a mat-button [routerLink]="['/details/'+movie.id+'/order']">
                <i class="fa-solid fa-money-check-dollar"></i> Book Tickets
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<app-loading *ngIf="!movies || movies.length === 0 && !error" />
