<div class="wrapper" *ngIf="movie">
    <h1>{{movie.title}}</h1>
    <div class="movie-content">
        <img [src]="utils.generateMoviePoster(movie.title)" [alt]="movie.title">
        <mat-card class="movie-card" appearance="outlined">
            <mat-card-content>
                <h2>Movie Details</h2>
                <mat-list role="list">
                    <mat-list-item>
                        <span matListItemTitle>Showtime:</span>
                        <span matListItemLine>{{utils.formatDate(movie.scheduledAt)}}</span>
                         <span matListItemIcon>
                            <i class="fa-solid fa-clock"></i>
                         </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Movie Code:</span>
                        <span matListItemLine>{{movie.movieNumber}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-ticket"></i>
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Genre:</span>
                        <span matListItemLine>{{movie.genre}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-video"></i>
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Seating Type:</span>
                        <span matListItemLine>{{movie.type.name}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-chair"></i>
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/details/'+movie.id+'/order']">
                    <i class="fa-solid fa-cart-shopping"></i> Book Tickets
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="movie-content">
        <mat-card class="movie-map">
            <iframe [src]="generateMapLink() | safe" width="860" height="600"></iframe>
        </mat-card>
    </div>
</div>

<app-loading *ngIf="!movie" />
